body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-weight: 400;
  }
  
  :root {
	--blue-color: #5798fc;
	--pink-color: #f84c8f;
	--yellow-color: #ffa63a;
	--black-color: #262d36;
	--light-gray-color: #95a2b1;
	--custom-black-color: #333333;
	--white-color: #ffffff;
	--light-blue-color: #8694a6;
	--primary-color: #f0f6fe;
	--dark-blue-color: #2879f5;
	--header-color: #e3e3e3;
	--header-two-color: #3f4751;
  }
  
  h1 {
	color: var(--white-color);
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 65px;
	line-height: 80px;
  }
  h2 {
	color: var(--white-color);
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 65px;
	line-height: 80px;
  }
  
  h6 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: var(--black-color);
	}
  h5 {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: var(--custom-black-color);
	text-transform: uppercase;
	transition: all ease 1s;
  }
  
  h4 {
	margin-bottom: 15px;
	margin-top: 20px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 35px;
	color: var(--black-color);
  }
  
  .para {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	color: var(--light-gray-color);
	line-height: 30px;
	font-weight: 400;
  }
  p {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	color: var(--black-color);
	line-height: 30px;
	font-weight: 400;
	transition: all ease 1s;
  }
  
  .custom-para {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	color: #d8c8ce;
	line-height: 30px;
	font-weight: 400;
  }
  
  .custom-btn {
	padding: 16px 40px;
	background-color: var(--blue-color);
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 400;
	border-radius: 40px;
	border: none;
	transition: all ease 1s;
	cursor: pointer;
  }
  
  .custom-btn:hover {
	padding: 16px 40px;
	background-color: var(--pink-color);
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 400;
	border-radius: 40px;
	border: none;
	transition: all ease 1s;
  }
  
  /* herder css start  */
  
 /* nav.navbar.navbar-expand-lg a img {*/
	/*width: 270px;*/
	/*height: 150px;*/
	/*position: absolute;*/
	/*top: -45px;*/
	/*margin-left: -200px*/
	/*}*/
	
  
nav.navbar.navbar-expand-lg a img {
    width: 340px;
    height: 190px;
    position: absolute;
    top: -70px;
    margin-left: -200px;
}

	
  ul.navbar-nav li a {
	font-size: 1.2rem;
	font-family: "Inter";
	font-weight: 500;
	color: var(--header-two-color) !important;
	padding: 0 !important;
  }
  ul.navbar-nav li {
	padding: 0 10px;
  }
  ul.navbar-nav li a:hover {
	color: var(--blue-color);
  }
  header {
	background-color: #e3e3e3e6;
	position: absolute;
	right: 0;
	left: 0;
	top: 20px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  nav.navbar.navbar-expand-lg {
	padding: 0;
  }
  /* herder css end */
  
  /* section one css start */
  
 
  .childcare h1 span {
	display: block;
  }
  .childcare {
	text-align: center;
  }
  .header-form input {
	width: 40%;
	background-color: transparent;
	border: none;
	font-size: 12px;
	padding: 0;
	padding-left: 12px;
  }
  .header-form input:focus {
	border: none;
	background-color: transparent;
	box-shadow: none;
  }
  .header-form .custom-btn {
	padding: 16px 50px;
  }
  .header-form {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
	background-color: var(--header-color);
	align-items: center;
	border-radius: 5px;
	margin-top: 40px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
  }
  .childcare .custom-para {
	width: 55%;
	margin: auto;
  }
  /* section one css end */
  
  /* section two css start */
  
  .priority {
	text-align: center;
  }
  .priority p span {
	color: var(--dark-blue-color);
	font-size: 12px;
	background-color: var(--primary-color);
	padding: 10px 20px;
	border-radius: 30px;
  }
  .priority p {
	font-size: 18px;
	text-align: center;
	margin: auto;
	width: 92%;
	font-weight: 500;
  }
  .priority .font-b span {
	padding: 0;
	background-color: transparent;
	color: var(--black-color);
	font-size: 18px;
	display: block;
  }
  .Provider {
	transition: all ease 1s;
	padding-top: 30px;
	padding-bottom: 40px;
	box-shadow: 0px 2px 15px 1px #0000000f;
	padding-left: 30px;
	border-radius: 10px;
	margin-top: 60px;
	cursor: pointer;
  }
  .Provider p {
	width: 85%;
	margin-top: 30px;
	line-height: 23px;
	margin-bottom: 25px;
	color: var(--custom-black-color);
	font-weight: 400;
  }
  .main-col-div {
	width: 80%;
	margin: auto;
  }
  .Provider:hover h5 {
	color: var(--white-color);
	transition: all ease 1s;
  }
  .Provider:hover p {
	color: var(--white-color);
	transition: all ease 1s;
  }
  .Provider:hover .custom-btn.pink {
	background-color: var(--white-color);
	color: var(--blue-color);
  }
  .custom-btn.pink {
	background-color: var(--pink-color);
	text-decoration: none;
  }
  .Provider:hover {
	background-color: var(--blue-color);
	transition: all ease 1s;
  }
  .sec-two {
	padding-top: 40px;
	padding-bottom: 60px;
  }
  /* section two css end */
  
  /* section three css start */
  .sec-three {
	background-color: #f9fafb;
	padding-top: 50px;
	padding-bottom: 70px;
  }
  .give-the-best.two {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-top: 30px;
  }
  .give-the-best.two .para {
	line-height: 20px;
	font-size: 12px;
	font-weight: 500;
	width: 70%;
  }
  .give-the-best h4 {
	margin: 0;
	font-size: 40px;
  }
  .give-the-best h4 span {
	display: block;
  }
  .give-the-best.two a {
	text-decoration: none;
  }
  .services {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--white-color);
	border-radius: 15px;
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0px 0px 20px 1px #0000002b;
	transition: all ease 1s;
	cursor: pointer;
	}
  .services:hover {
	background-color: var(--pink-color);
	transition: all ease 1s;
  }
  .services:hover h6 {
	color: var(--white-color);
  }
  .services:hover p {
	color: var(--white-color);
  }
  .services:hover i {
	color: var(--white-color);
	transitio: all ease 1s;
  }
  .services figure img {
	width: 100%;
	}
  .font-a i {
	color: var(--yellow-color);
  }
  .font-a {
	margin-top: 40px;
	margin-bottom: 30px;
  }
  .bottom-font h6 {
	margin-bottom: 20px;
  }
  .bottom-font p {
	margin: auto;
	text-align: center;
	width: 100%;
	line-height: 20px;
	font-size: 12px;
	font-weight: 500;
  }
  /* section three css end */
  
  /* section four css start */
  .trands {
	text-align: center;
  }
  .trands h4 {
	font-size: 45px;
  }
  .sec-four {
	padding-top: 30px;
	padding-bottom: 70px;
  }
  .small-p {
	font-size: 12px !important;
	color: #616161 !important;
	margin: 0;
  }
  p.small-p span {
	color: var(--blue-color);
	font-weight: 500;
	margin-left: 10px;
  }
  .teaching p {
	color: var(--black-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-top: 5px;
  }
  p.samll-b {
	font-size: 14px;
	width: 86%;
	line-height: 23px;
	color: #616161 !important;
	margin-bottom: 30px;
  }
  .teaching .custom-btn {
	background-color: transparent;
	padding: 0;
	color: #322c2d;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
  }
  .teaching .custom-btn i {
	background-color: var(--blue-color);
	padding: 3px 4px;
	border-radius: 20px;
	margin-right: 10px;
	color: var(--white-color);
  }
  .trands {
	padding-bottom: 50px;
  }
  /* section four css end */
  
  /* footer css start  */
  footer {
	background-color: #313131;
	padding: 7rem 0;
  }
  .FooterMainDiv h5 a {
	color: var(--white-color);
	font-weight: 400;
	text-decoration: none;
	font-size: 16px;
  }
  ul.FooterUl {
	padding: 0;
	margin-top: 2rem;
  }
  ul.FooterUl li {
	list-style: none;
	margin: 12px 0;
  }
  ul.FooterUl li p a {
	color: #828585;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
  }
  ul.FooterUl li p {
	margin: 0;
  }
  .FooterMainDiv p a {
	color: #9b9b9b;
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
  }
  .FooterMainDiv p {
	width: 82%;
	margin: 2rem 0;
  }
  .ReadMoreFooter span i {
	color: var(--blue-color);
	font-size: 22px;
	border-radius: 60%;
  }
  .ReadMoreFooter span a {
	color: var(--white-color);
	font-size: 16px;
	text-decoration: none;
	font-family: "Inter";
	margin-left: 1rem;
	font-weight: 400;
  }
  .QuickContact p {
	width: 100%;
  }
  .ReadMoreFooter span a:hover {
	background: var(--blue-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
  }
  .slideconte p:hover {
	background: -webkit-linear-gradient(45deg, #58a7d2, #128769);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
  }
  .CardDate span a:hover {
	background: -webkit-linear-gradient(45deg, #58a7d2, #128769);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
  }
  .ReadMore span a:hover {
	background: -webkit-linear-gradient(45deg, #58a7d2, #128769);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
  }
  .QuickContact .ReadMoreFooter span i:hover {
	cursor: pointer;
	color: var(--white-color);
  }
  ul.FooterUl li p a:hover {
	background: var(--blue-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .QuickContact .ReadMoreFooter span a {
	background: var(--blue-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 19px;
	font-weight: 400;
	margin-left: 0rem;
  }
  .QuickContact .ReadMoreFooter span i {
	font-size: 22px;
  }
  .QuickContact .ReadMoreFooter span i {
	letter-spacing: 22px;
  }
  p.Reused span {
	display: block;
  }
  /* footer css end  */
  
  /* down footer css start  */
  
  a.navbar-brand.Colored {
	background: -webkit-linear-gradient(45deg, #58a7d2, #128769);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .LOGO a {
	font-size: 3rem;
	margin-left: 2rem;
  }
  .EmailSubbmision .customBtn.BtnThree {
	border-radius: 7px;
	padding: 18px 4rem;
	font-size: 16px;
	margin: 0 5px;
	background-color: #c6004e;
	color: white;
	font-weight: 400;
	transition: all ease 1s;
  }
  .EmailSubbmision form input {
	height: 60px;
  }
  .EmailSubbmision form input {
	border-radius: 0;
	border: 1px solid #00000017;
  
	padding: 0px 7px;
	color: #9b9b9b;
  }
  .DownFooter {
	position: relative;
	z-index: 0;
  }
  .maindivFooter {
	position: absolute;
	width: 75%;
	margin: auto;
	top: -43px;
	background-color: white;
	border-radius: 22px;
	padding: 30px 32px;
	left: 13%;
  }
  .SignUp p {
	text-align: end;
	font-size: 18px;
	margin-right: 2rem;
	line-height: 12px;
	font-weight: 500;
  }
  .DownFooterTwo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #121212;
	padding-top: 8rem;
	padding-bottom: 1rem;
	border-bottom: none;
  }
  .footerSpan p {
	color: #828585;
  }
  .ReadMoreFooter {
	display: flex;
	align-items: center;
  }
  .custom-btn.big {
	padding: 18px 60px;
  }
  /* down footer css end  */
  
  /* scroll css start */
  
  /* width */
  ::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--blue-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--pink-color);
  }
  
  /* scroll css enfd */
  
  /* loader css start */
  
  .loader {
	width: 500px;
	height: 500px;
	line-height: 450px;
	margin: 100px auto;
	position: relative;
	box-sizing: border-box;
	border-radius: 177px;
	text-align: center;
	z-index: 0;
	text-transform: uppercase;
	animation: inout 10s linear infinite;
  }
  
  .loader:before,
  .loader:after {
	opacity: 0;
	box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 3px solid #000;
	box-shadow: 0 0 10px #000, inset 0 0 10px #000;
  }
  
  .loadermain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 99999999999;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e3e3e3;
  }
  
  /* loader css end */
  
 