/* about css start */

.about-sec-one {
  background-image: url(../images/9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  align-items: center;
}
.about-us {
  text-align: center;
}

.top-bottom {
  background-image: url(../images/10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  box-shadow: 0px 0px 14px 2px #0000002b;
  border-radius: 20px;
}
.top-bottom.two {
  background-image: url(../images/11.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  margin-top: 100px;
}
.about-bottom {
  padding-top: 415px;
  padding-left: 20px;
}
.about-sec-two {
  padding-bottom: 120px;
  padding-top: 70px;
}
.about-bottom p {
  color: #4c4c4c;
  width: 95%;
  font-size: 14px;
  line-height: 25px;
  margin-top: 30px;
  font-weight: 500;
}

.about-bottom h5 {
  font-size: 46px;
  font-weight: bold;
  text-transform: capitalize;
}
.about-bottom.two {
  padding-top: 420px;
}

.about-sec-three {
  background-image: url(../images/12.png);
  background-position: left;
  background-size: 50%;
  background-color: #000000;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
}
.our-goal {
  text-align: center;
}
.our-goal h2 {
  font-size: 90px;
}
.our-goal p {
  color: #b3b3b3;
  margin: auto;
  text-align: center;
  width: 70%;
  font-size: 14px;
  line-height: 25px;
  margin-top: 60px;
}
.how-this-work {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.work h5 {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  color: #000000;
}
.work p {
  margin: auto;
  text-align: center;
  width: 90%;
  color: var(--light-blue-color);
  font-weight: 500;
  line-height: 25px;
  margin-top: 30px;
}
/* about css end */
/* provider css start */
.content-zig p {
  color: #96a2b2;
  line-height: 21px;
  font-size: 12.5px;
  font-weight: 500;
  margin-top: 30px;
}

.content-zig {
  padding-top: 100px;
}
.zig-zag.col-lg-6 {
  margin-top: 20px;
}
.zig-zag .col-lg-6 {
  margin-top: 50px;
}
.zig-zag {
  padding-top: 60px;
  padding-bottom: 80px;
}
/* provider css end */

/*teacher css start */
.Teacher-sec img {
  border-radius: 40px;
}

.Teacher-sec .content-zig h6 {
  font-size: 2.1rem;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}

.Teacher-sec .content-zig p span {
  color: var(--dark-blue-color);
  font-size: 12px;
  background-color: #ddeafe;
}
.teacher-form .col-lg-6 {
  margin: 0;
}

.teacher-form .form-control {
  height: 40px !important;
  font-size: 12px;
  color: #747474;
  font-weight: 600;
}

.teacher-form textarea#exampleFormControlTextarea1 {
  height: unset !important;
}
.Teacher-sec .content-zig p {
  color: #838383;
  font-size: 15px;
  line-height: 22px;
}
.Teacher-sec .content-zig p {
  text-align: start;
  margin-bottom: 15px;
  margin-left: 0;
}
.Teacher-sec .content-zig {
  margin-left: 2rem;
  text-align: start;
}
.Teacher-sec .content-zig .custom-btn {
  margin-top: 20px;
  padding: 12px 40px;
}
/*teacher css end */

/*teacher-two css start */

.milena-1 {
  background-image: url(../images/techer-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  display: flex;
  align-items: end;
}
.milena-2 {
  background-image: url(../images/techer-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  display: flex;
  align-items: end;
  position: relative;
  z-index: 0;
}
.milena-1 p {
  font-size: 12px;
  color: #c3c9d4;
  line-height: 20px;
}
.milena-2 p {
  font-size: 12px;
  color: #c3c9d4;
  line-height: 20px;
}
.jerry-gilbert {
  padding: 20px 130px;
  transition: all ease 1s;
}

.jerry-gilbert h6 {
  color: var(--white-color);
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
}
.content-zig .milena-3 {
  text-align: start;
  margin-top: 30px;
}
.milena-3 {
  text-align: center;
}

.milena-3 p {
  text-align: center;
  margin: auto;
  width: 60%;
  line-height: 23px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 18px;
}
.milena-3 p span {
  color: var(--blue-color);
}
.milena-3 .custom-btn {
  background-color: transparent;
  border: 2px solid var(--custom-black-color);
  padding: 6px 25px;
  color: var(--custom-black-color);
  font-size: 15px;
  transition: 0.5s;
}
.milena-3 a {
  text-decoration: none;
}
.milena-3 .custom-btn:hover {
  box-shadow: 0px 0px 9px 3px var(--blue-color);
  border: 2px solid var(--blue-color);
  transition: 0.5s;
}

.milena-1:hover .jerry-gilbert {
  transform: scale(1.1);
  transition: all ease 1s;
}
.milena-2:hover .jerry-gilbert {
  transform: scale(1.1);
  transition: all ease 1s;
}
.jerry-gilbert:hover img {
  transform: scale(1.2);
  transition: all ease 1s;
}

.jerry-gilbert img {
  transition: all ease 1s;
}
.arrow-top {
  position: absolute;
  z-index: 1;
  top: 65px;
  right: 140px;
}

.arrow-top i {
  color: var(--blue-color);
  font-size: 18px;
  border-radius: 60%;
  border: 2px solid var(--white-color);
  padding: 8px 10px;
  box-shadow: 2px 2px 1px 1px var(--blue-color);
}
.milena-2:hover .arrow-top {
  top: -144px;
  right: 150px;
}

.milena-2:hover .arrow-top i {
  border: 2px solid var(--blue-color);
  box-shadow: 2px 2px 1px 1px white;
}
/*teacher-two css end */

/*job  css start */

.main-job {
  box-shadow: 0px 0px 32px 2px #00000038;
  padding: 15px 17px;
  border-radius: 15px;
  text-align: center;
  margin-top: 40px;
}
.full-time {
  background-color: #ededed;
  width: 35%;
  margin-left: auto;
  border-radius: 25px;
  height: 30px;
}

.full-time p {
  text-align: center;
  font-size: 13px;
  color: #939393;
}

.center-info h6 span {
  display: block;
}

.center-info h6 {
  margin: 0;
  margin-top: 40px;
  font-size: 25px;
  font-weight: 900;
  line-height: 32px;
  padding-bottom: 10px;
}

.center-info a {
  text-decoration: none;
  color: #747272;
  font-weight: 500;
  font-size: 18px;
}
.apply {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}

.apply .custom-btn {
  padding: 6px 11px;
  font-size: 16px;
  border-radius: 13px;
  background: #7f9bff;
}
.apply .custom-btn.views {
  background: transparent;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  font-weight: 500;
}

.apply a {
  text-decoration: none;
}
.job-board {
  padding: 50px 120px;
}
.full-time.angel {
  display: flex;
  justify-content: space-between;
  width: unset;
  background-color: transparent;
}

.full-time.angel .green-color {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0 10px;
  border-radius: 15px;
  color: #53c987;
}

.full-time.angel p {
  background-color: #ededed;
  margin: 0;
  padding: 0 10px;
  border-radius: 15px;
}
.last-btn {
  text-align: center;
  padding-top: 50px;
}

.last-btn a {
  font-size: 16px;
  text-decoration: none;
  color: var(--blue-color);
}
/*job  css end */

/*Blogsec css End*/

.BlogMain {
  background-color: white;
  padding: 30px 150px;
}
.populartag h6 {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 1.5rem;
  margin: 3rem 0 1.5rem;
}
.populartag .btnTag {
  color: #fff;
  border: 1px solid #a3a2a0;
  border-radius: 0px;
  transition: 0.5s ease;
}
.populartag .btnTag:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: transparent;
}
.populartag ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 0.3rem;
  margin-bottom: 0.475rem;
}
/*Paginationarea*/
.Paginationarea {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  border-top: 2px solid #86868647;
}

.Paginationarea .page-link {
  background: transparent;
  color: #fff;
  font-weight: 500;
  border: 0;
  transition: 0.5s ease;
  border-radius: 0;
  padding: 0;
  font-size: 1.063rem;
}
.Paginationarea .page-link:hover {
  color: var(--primary-color);
  transform: scale(1.1);
  background-color: transparent;
}

.Paginationarea .page-item {
  margin-right: 1.5rem;
}
.Banner-career {
  height: 855px;
  background-image: url(../images/career.png);
}
/*Blogsec css Start*/
.Banner-blog {
  background-image: url("../images/blogbanner.png");
}

.Banner-blog .demo {
  bottom: -93%;
}
.BlogTAbs {
  align-items: center;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  justify-content: space-between;
}
.nav-tabs .nav-link {
  border-bottom: 3px solid transparent !important;
  border: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  display: block;
  padding-bottom: 0.875rem;
}

ul#myTab {
  gap: 1rem;
  border-bottom: 0px solid #333333;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color) !important;
}

a#Dolor-tab {
}

.TabsMAin {
  /* float: right; */
  /* display: flex; */
}

.HeadingText h5 {
  letter-spacing: 1px;
  /* padding-bottom: 0.875rem; */
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.BlogContent {
  display: flex;
  gap: 20px;
  align-items: center;
}
.blogImage img {
  width: 365px;
}
.Blogtext {
  padding-left: 0;
}
.Blogtext span {
  font-size: 13px;
  color: #79adfd;
  font-weight: 600;
}
.Blogtext p {
  color: #6c6c6c;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}
.Blogtext h6 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
}
.Blogtext a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.BlogArea {
  padding: 2rem 2rem;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  margin-top: 30px;
}
.customh2 {
  font-size: 24px;
  color: #222222;
  line-height: unset;
  font-weight: 500;
  margin-bottom: 20px;
}
.archieve-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.archieve-item li {
  margin-bottom: 0.3rem;
}

.archieve-item a {
  font-size: 0.875rem;
  display: contents;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.archieve-item li:nth-child(1) {
  margin: 0;
  background-color: transparent;
}
section.BlogMain:after {
  position: absolute;
  content: "";
  background: #000000ab;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: none;
}
.martin-g {
  padding: 0;
  list-style: none;
  padding-top: 10px;
}

.Blogtext p span {
  color: #000000;
  font-weight: 600;
}

.blogImage img {
  width: 100%;
}

.side-btn a {
  display: block;
}
.side-btn .custom-btn {
  padding: 14px 35px;
  font-size: 15px;
  margin-top: 10px;
}

.side-btn a {
  text-decoration: none;
}
.side-btn .custom-btn.green {
  background-color: #bad234;
}
.sideright {
  padding: 15px 10px;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  margin-top: 30px;
}
.archieve-item li select#exampleFormControlSelect1 {
  border-radius: 30px;
  height: 45px;
  font-size: 12px;
  color: #222222;
  font-weight: 600;
}
.archieve-item .side-btn .custom-btn.green {
  text-align: center;
  font-weight: 500;
}
.loading-gif figure img {
  width: 8%;
}

.loading-gif {
  text-align: center;
  padding-top: 60px;
}

/* become aa provider */
.zig-zag.provider {
  padding-left: 92px;
  padding-right: 110px;
}

.zig-zag.provider img {
  width: 80%;
}

.zig-zag.provider .images-zag {
  text-align: end;
}
.main-flex-option {
  display: flex;
  align-items: baseline;
}

.main-flex-option span {
  font-size: 14px;
}

.main-flex-option select#exampleFormControlSelect1 {
  width: 58px;
  padding: 0;
  border: none;
}
/* become aa provider */
